# K Nearest Neighbord

In [1]:
import numpy as np
from sklearn import preprocessing, cross_validation, neighbors
import pandas as pd

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
df = pd.read_csv('../python-ml-course-master/python-ml-course-master/datasets/cancer/breast-cancer-wisconsin.data.txt', header=None)

In [3]:
df.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [4]:
df.describe()

,0,1,2,3,4,5,7,8,9,10
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [5]:
df.columns = ['name', 'V1','V2','V3', 'V4', 'V5','V6', 'V7','V8','V9', 'CLASS']

In [6]:
df = df.drop(['name'],1)
df.replace('?', -99999, inplace=True)

In [7]:
df.head()

   V1  V2  V3  V4  V5  V6  V7  V8  V9  CLASS
0   5   1   1   1   2   1   3   1   1      2
1   5   4   4   5   7  10   3   2   1      2
2   3   1   1   1   2   2   3   1   1      2
3   6   8   8   1   3   4   3   7   1      2
4   4   1   1   3   2   1   3   1   1      2

In [8]:
Y = df['CLASS']
X = df[['V1','V2','V3', 'V4', 'V5','V6', 'V7','V8','V9']]
X.head()

   V1  V2  V3  V4  V5  V6  V7  V8  V9
0   5   1   1   1   2   1   3   1   1
1   5   4   4   5   7  10   3   2   1
2   3   1   1   1   2   2   3   1   1
3   6   8   8   1   3   4   3   7   1
4   4   1   1   3   2   1   3   1   1

In [9]:
Y.head()

0    2
1    2
2    2
3    2
4    2
Name: CLASS, dtype: int64

# CLASIFICADOR DE LOS K VECINOS

In [10]:
X_train ,X_test, Y_train, Y_test = cross_validation.train_test_split(X,Y, test_size = 0.2)

In [11]:
clf = neighbors.KNeighborsClassifier()

In [12]:
clf.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [13]:
accuracy = clf.score(X_test, Y_test)

In [14]:
accuracy

0.9928571428571429

# Clasificacion sin limpieza

In [15]:
df = pd.read_csv('../python-ml-course-master/python-ml-course-master/datasets/cancer/breast-cancer-wisconsin.data.txt', header=None)
df.replace('?', -99999, inplace=True)
df.columns = ['name', 'V1','V2','V3', 'V4', 'V5','V6', 'V7','V8','V9', 'CLASS']

Y = df['CLASS']
X = df[['name','V1','V2','V3', 'V4', 'V5','V6', 'V7','V8','V9']]

X_train ,X_test, Y_train, Y_test = cross_validation.train_test_split(X,Y, test_size = 0.2)

clf = neighbors.KNeighborsClassifier()
clf.fit(X_train,Y_train)

accuracy = clf.score(X_test, Y_test)
accuracy

0.6428571428571429

# Clasificar nuevos Datos

In [19]:
sample_measeure = np.array([213443,4,2,1,1,1,2,3,2,1])

In [20]:
sample_measeure = sample_measeure.reshape(1,-1)

In [21]:
predict = clf.predict(sample_measeure)

In [22]:
predict

array([2], dtype=int64)